@import "@material/textfield/mdc-text-field";

.mdc-textfield-wrapper {
    display: inline-flex;
    flex-flow: column;
}

// TODO: MDCFIX
.mdc-text-field--textarea .mdc-text-field__label {
    background-color: transparent;
}

.mdc-text-field--with-leading-icon .mdc-text-field__icon,
.mdc-text-field--with-trailing-icon .mdc-text-field__icon {
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
