.mdc-layout-app {
 
  min-height:100vh;
  width:100%;
  display:flex;
  flex-flow: column;
  align-content:flex-start;
  align-items:stretch;

  .mdc-layout-app--toolbar-wrapper {
    width:100%;
    align-self: flex-start;
    order: -1;
  }
  
  .mdc-layout-app--main-container {
    flex: 1;
    display:flex;
    flex-flow: row;
    align-content:stretch;
    align-items:stretch;
  }
  
  .mdc-layout-app--drawer-wrapper {
    order: -1;
    flex: 0 1 auto;
    
    .mdc-drawer {
      height:100%;
    }
  } 
  
  .mdc-layout-app--content-wrapper {
    flex: 1 1 auto;
  } 
  
}


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS workarround */
  .mdc-layout-app {
    // ie11 workarround
    // https://stackoverflow.com/questions/25177791/ie11-flexbox-and-vh-height-units-not-compatible
    display:block;
    height: 100%;
  }   
}