@import "@material/drawer/mdc-drawer";

.mdc-drawer-layout {
  display: flex;
  flex-direction: row;

  .mdc-drawer {
    order: -1;
  }
}

// drawer item is nav should be clickable
.mdc-drawer-item {
  cursor: pointer;
}

.mdc-drawer.mdc-temporary-drawer {
  .mdc-drawer-list {
    overflow-y: auto;
  }
}