@import "@material/fab/mdc-fab";
@import "@material/rtl/_mixins";

// support anchors as style
a.mdc-fab,
a:link.mdc-fab,
a:visited.mdc-fab,
a:hover.mdc-fab,
a:active.mdc-fab {
    text-decoration: inherit;
    font-weight: inherit;
}

.mdc-fab--absolute {
  position: absolute;
  bottom: 1rem;
  left: auto;
  right: 1rem;

  @include mdc-rtl {
    left: 1rem;
    right: auto;
  }
}

.mdc-fab--fixed {
  position: fixed;
  bottom: 1rem;
  left: auto;
  right: 1rem;
  z-index: 4;

  @include mdc-rtl {
    left: 1rem;
    right: auto;
  }
}

@media(min-width: 1024px) {
  .mdc-fab--absolute {
    bottom: 3rem;
    left: auto;
    right: 5rem;

    @include mdc-rtl {
      left: 5rem;
      right: auto;
    }
  }

  .mdc-fab--fixed {
    bottom: 3rem;
    left: auto;
    right: 5rem;

    @include mdc-rtl {
      left: 5rem;
      right: auto;
    }
  }
}
