@import "highlight.js/styles/googlecode";

pre > code {
    display: block;
    overflow-x: auto;
    padding: 1em 1.2em;
    margin-top: -8px;
    margin-bottom: 24px;

    
    font-family: "Roboto Mono", Monaco, courier, monospace;
    font-size: 0.8em;
    line-height: 1.4em;
    color: black;
    background-color: #f7f7f7;
   
}
