@import "@material/toolbar/mdc-toolbar";

.mdc-toolbar-wrapper{
  display:flex;
  width:100%;
  
  .mdc-toolbar-fixed-adjust {
    width:100%;
  }
}

.mdc-toolbar__title {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.mdc-toolbar {
  .mdc-icon {
    @extend .mdc-toolbar__icon;
  }
}
